---
import "../styles/common.css"

import Layout from "../layouts/Layout.astro"
import Content from "../layouts/Content.astro"
import Header from "../layouts/Header.astro"
import Footer from "../layouts/Footer.astro"

import SayHey from "../components/SayHey.astro"
import Personal from "../components/Personal/Index.astro"
import Projects from "../components/Projects.astro"

import SwitchTheme from "../components/SwitchTheme.astro"
import Copyright from "../components/Copyright.astro"
---

<Layout title="Caven Ding">
  <div
    class="font-display min-h-screen transition duration-300"
    id="main">
    <main class="min-h-screen mx-auto p-8 pt-8 pb-6 flex flex-col md:w-5xl md:pt-16">
      <Header><SayHey /></Header>
      <Content>
        <Personal slot="bio" />
        <Projects slot="post" />
      </Content>
      <Footer>
        <SwitchTheme />
        <Copyright />
      </Footer>
    </main>
  </div>
</Layout>

<script src="../scripts/index"></script>
