---
import Subtitle from "./Subtitle.astro"
import { Icon } from "astro-icon"
---

<section class="mt-20">
  <Subtitle>About me</Subtitle>
  <div class="mt-6">
    <div class="flex items-center mb-2 text-slate-600">
      <Icon
        name="uil:fire"
        size="18"
      />
      <div class="text-base font-medium ml-4 drop-shadow-sm">
        Senior Frontend Developer
      </div>
    </div>
    <div class="flex items-center mb-2 text-slate-600">
      <Icon
        name="uil:trees"
        size="18"
      />
      <div class="text-base font-medium ml-4 drop-shadow-sm">Freelancer</div>
    </div>
    <div class="flex items-center mb-2 text-slate-600">
      <Icon
        name="la:blog"
        size="18"
      />
      <div class="text-base font-medium ml-4 drop-shadow-sm">Blogger</div>
    </div>
  </div>
</section>
