---
import Subtitle from "./Subtitle.astro"
import { Icon } from "astro-icon"
---

<section class="mt-20">
  <Subtitle>Follow me</Subtitle>
  <div class="flex items-center mt-6">
    <a
      class="w-10 h-10 flex items-center justify-center rounded-full bg-slate-100 cursor-pointer mr-6 text-slate-700 hover:bg-slate-700 hover:text-white hover:shadow-lg transition-all duration-300"
      href="https://twitter.com/dodobirdnotfly"
      target="_blank">
      <Icon
        name="uil:twitter"
        size="24"
      />
    </a>
    <a
      class="w-10 h-10 flex items-center justify-center rounded-full bg-slate-100 cursor-pointer mr-6 text-slate-700 hover:bg-slate-700 hover:text-white hover:shadow-lg transition-all duration-300"
      href="https://github.com/keyding"
      target="_blank">
      <Icon
        name="uil:github"
        size="24"
      />
    </a>
    <a
      class="w-10 h-10 flex items-center justify-center rounded-full bg-slate-100 cursor-pointer mr-6 text-slate-700 hover:bg-slate-700 hover:text-white hover:shadow-lg transition-all duration-300"
      href="mailto:dodobirdnotfly@gmail.com"
      target="_blank">
      <Icon
        name="uil:fast-mail"
        size="28"
      />
    </a>
  </div>
</section>
