---
import Card from "./Card.astro"
---

<Card>
  <div class="flex flex-col items-center md:flex-row">
    <div class="font-vr self-start md:mr-4">
      <div class="flex items-center gap-1">
        <div class="w-6 h-6">
          <img src="/logos/lemonsqueezy.svg" alt="">
        </div>
        <div class="text-2xl text-slate-900 font-black tracking-wider whitespace-normal md:text-3xl break-all">lemonsqueezy.js</div>
      </div>
      <div class="text-sm text-slate-400 italic mt-1 tracking-wider font-black">The official Lemon Squeezy JavaScript SDK</div>
      <div class="mt-6 text-base text-slate-300">
        This is the official JavaScript SDK for Lemon Squeezy, making it easy to incorporate billing into your JavaScript application.
      </div>
    </div>
    <a
      href="https://github.com/lmsqueezy/lemonsqueezy.js"
      target="_blank"
      class="flex items-center justify-center w-40 h-12 mt-8 rounded-12 border border-slate-900 shadow-2 cursor-pointer transition shrink-0 md:h-28 md:w-12 md:mt-0 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-4 hover:scale-105">
      <div class="i-ic:round-arrow-outward w-6 h-6"></div>
    </a>
  </div>
</Card>
