---
import Subtitle from "./Subtitle.astro"
---

<section class="mt-20">
  <Subtitle>My name is ( a.k.a @dodobird )</Subtitle>
  <div
    class="text-5xl font-bold text-slate-900 tracking-wider uppercase mt-6 drop-shadow-lg">
    Caven Ding
  </div>
</section>
