---
import BlogEntrance from "./BlogEntrance.astro"
import OatProject from "./OatProject.astro"
import MyResume from "./MyResume.astro"
---

<section class="w-full flex flex-col items-center md:flex-1 md:ml-8">
  <div class="w-80 md:w-full">
    <BlogEntrance />
    <MyResume />
    <OatProject />
    <!-- <Card>
      <div class="flex flex-col items-center">
        <div class="i-fluent-emoji-flat:camping w-60 h-60 md:w-109 md:h-60"></div>
        <div class="i-fluent-emoji-flat:construction w-20 h-20 mt-8"></div>
        <div class="flex justify-center mt-12">
          <div class="i-fluent-emoji-flat:fire w-5 h-5"></div>
          <div class="i-fluent-emoji-flat:fire w-5 h-5"></div>
          <div class="i-fluent-emoji-flat:fire w-5 h-5"></div>
        </div>
        <div class="font-vr text-base text-slate-600 font-500 italic mt-2 tracking-wide">Under construction ...</div>
      </div>
    </Card> -->
  </div>
</section>
