<div
  class="w-10 h-10 flex items-center justify-center rounded-full bg-slate-100 cursor-pointer mr-4 text-slate-700 hover:bg-slate-700 hover:text-white hover:shadow-lg transition-all duration-300">
  <slot />
</div>
