<div class="flex items-center justify-center w-10 h-10 rounded-full bg-slate-900">
  <div class="i-fluent-emoji-flat-love-you-gesture w-6 h-6"></div>
</div>
<div class="font-vr text-2xl text-slate-900 italic font-medium tracking-wider ml-6 md:text-3xl">Hey, What's up!</div>
