---
import { Icon } from "astro-icon"
---

<div class="flex items-center">
  <div class="w-6 h-6 text-slate-400 mr-4">
    <Icon name="uil:paragraph" />
  </div>
  <div class="text-sm font-medium text-slate-400 italic"><slot /></div>
  <div class="w-6 h-6 text-slate-400 ml-4">
    <Icon name="uil:paragraph" />
  </div>
</div>
