<div class="w-full flex items-center justify-center">
  <div class="h-13 inline-block rounded-full border border-slate-900 px-6 pt-3 shadow-4 bg-white">
    <div
      class="flex items-center"
      id="theme-icons">
      <div
        class="i-fluent-emoji-flat:spouting-whale w-6 h-6 cursor-pointer transition"
        data-theme="theme-sea">
      </div>
      <div
        class="i-fluent-emoji-flat:sun w-6 h-6 ml-6 cursor-pointer transition"
        data-theme="theme-sun">
      </div>
      <div
        class="i-fluent-emoji-flat:deciduous-tree w-6 h-6 ml-6 cursor-pointer transition"
        data-theme="theme-forest">
      </div>
    </div>
    <div
      class="w-4 h-1 rounded-full bg-slate-900 mt-1 translate-x-13 transition"
      id="focus-line">
    </div>
  </div>
</div>
