---
import Name from "./Name.astro"
import AboutMe from "./AboutMe.astro"
import FollowMe from "./FollowMe.astro"
---

<section class="w-80 space-y-6">
  <Name />
  <AboutMe />
  <FollowMe />
</section>
