---
import BioCard from "../BioCard.astro"
---

<BioCard
  title="My name is"
  type="name">
  <div class="font-vr text-4xl text-slate-900 font-black uppercase text-center tracking-wide drop-shadow-lg">
    Caven Ding
  </div>
</BioCard>
