---
import BioCard from "../BioCard.astro"
---

<BioCard
  title="My name is"
  type="name">
  <div class="font-rm text-4xl text-slate-900 font-bold uppercase text-center tracking-wider drop-shadow-lg">
    Caven Ding
  </div>
</BioCard>
